# üß© Milestone 2 & 3 ‚Äî Dataset Understanding and Data Cleaning

## üìå Project Title
**Hotel Revenue Performance Analysis Dashboard using Power BI**

---

## üéØ Objective of This Notebook
This notebook focuses on:

- Understanding the raw hotel booking dataset  
- Performing data quality checks  
- Cleaning and transforming the dataset for revenue analysis  

The goal is to prepare a **high-quality and analytics-ready dataset** that will be used in Power BI for visualization.

---

## üìä Activities Completed in These Milestones

| Milestone | Task | Description |
|----------|------|-------------|
| Milestone 2 | Dataset Understanding | Load dataset, inspect structure, metadata, and null values |
| Milestone 3 | Data Cleaning | Fix missing values, remove incorrect records, add useful new columns |

---

## üîç Why This Step is Important?
Hotel booking data often contains:

- Inconsistent values  
- Missing guest details  
- Canceled/no-show bookings  
- Wrong ADR values (0 or negative)  

Cleaning ensures **accurate** hotel revenue metrics like:

- Total Revenue  
- ADR (Average Daily Rate)  
- RevPAR (Revenue per Available Room)  
- Occupancy Rate  
- Cancellation Ratio  

> Clean data = Reliable insights = Better business decisions

---

## ‚öô Tools Used
- Python  
- Pandas  
- Jupyter Notebook  
- CSV Dataset from Kaggle  

---

## üìÅ Final Output from This Notebook

‚úî A cleaned dataset saved as:  
**hotel_bookings_cleaned_python.csv**

‚úî Ready for:  
**Milestone 4 ‚Äî EDA and Visualization Preparation**

---

üëâ With clean data available, we can now move forward to analyzing revenue drivers and creating the dashboard.

üìå *Milestone 2 & 3 Successfully Completed!* üöÄ

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/hotel_bookings.csv")

# Show first 5 rows
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03

In [3]:
# Shape of Data
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])

Rows: 111304
Columns: 32

In [4]:
# Column info (data types, non-null counts)
print("\n--- Data Info ---")
df.info()

--- Data Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111304 entries, 0 to 111303
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           111304 non-null  object
 1   is_canceled                     111304 non-null  int64
 2   lead_time                       111304 non-null  int64
 3   arrival_date_year               111304 non-null  int64
 4   arrival_date_month              111304 non-null  object
 5   arrival_date_week_number        111304 non-null  int64
 6   arrival_date_day_of_month       111304 non-null  int64
 7   stays_in_weekend_nights         111304 non-null  int64
 8   stays_in_week_nights            111304 non-null  int64
 9   adults                          111304 non-null  int64
 10  children                        111300 non-null  float64
 11  babies                          111304 non-null  int64
 12  meal                            111304 non-null  object
 13  country                         110816 non-null  object
 14  market_segment                  111304 non-null  object
 15  distribution_channel            111303 non-null  object
 16  is_repeated_guest               111303 non-null  float64
 17  previous_cancellations          111303 non-null  float64
 18  previous_bookings_not_canceled  111303 non-null  float64
 19  reserved_room_type              111303 non-null  object
 20  assigned_room_type              111303 non-null  object
 21  booking_changes                 111303 non-null  float64
 22  deposit_type                    111303 non-null  object
 23  agent                           95479 non-null   float64
 24  company                         6572 non-null    float64
 25  days_in_waiting_list            111303 non-null  float64
 26  customer_type                   111303 non-null  object
 27  adr                             111303 non-null  float64
 28  required_car_parking_spaces     111303 non-null  float64
 29  total_of_special_requests       111303 non-null  float64
 30  reservation_status              111303 non-null  object
 31  reservation_status_date         111303 non-null  object
dtypes: float64(11), int64(9), object(12)
memory usage: 27.2+ MB

In [5]:
# Summary stats for numeric columns
print("\n--- Describe (Numeric) ---")
print(df.describe())

--- Describe (Numeric) ---
         is_canceled      lead_time  arrival_date_year  \
count  111304.000000  111304.000000      111304.000000
mean        0.397290     102.222822        2016.095280
std         0.489339     105.813183           0.693864
min         0.000000       0.000000        2015.000000
25%         0.000000      17.000000        2016.000000
50%         0.000000      67.000000        2016.000000
75%         1.000000     158.000000        2017.000000
max         1.000000     737.000000        2017.000000

       arrival_date_week_number  arrival_date_day_of_month  \
count             111304.000000              111304.000000
mean                  27.204817                  15.754375
std                   14.029843                   8.793255
min                    1.000000                   1.000000
25%                   15.000000                   8.000000
50%                   28.000000                  16.000000
75%                   39.000000                  23.000000
max                   53.000000                  31.000000

       stays_in_weekend_nights  stays_in_week_nights         adults  \
count            111304.000000         111304.000000  111304.000000
mean                  0.932599              2.520260       1.851676
std                   1.007712              1.937874       0.583290
min                   0.000000              0.000000       0.000000
25%                   0.000000              1.000000       2.000000
50%                   1.000000              2.000000       2.000000
75%                   2.000000              3.000000       2.000000
max                  19.000000             50.000000      55.000000

            children         babies  is_repeated_guest  \
count  111300.000000  111304.000000      111303.000000
mean        0.101635       0.008158           0.033854
std         0.394600       0.099078           0.180853
min         0.000000       0.000000           0.000000
25%         0.000000       0.000000           0.000000
50%         0.000000       0.000000           0.000000
75%         0.000000       0.000000           0.000000
max        10.000000      10.000000           1.000000

       previous_cancellations  previous_bookings_not_canceled  \
count           111303.000000                   111303.000000
mean                 0.093403                        0.146106
std                  0.874113                        1.549133
min                  0.000000                        0.000000
25%                  0.000000                        0.000000
50%                  0.000000                        0.000000
75%                  0.000000                        0.000000
max                 26.000000                       72.000000

       booking_changes         agent      company  days_in_waiting_list  \
count    111303.000000  95479.000000  6572.000000         111303.000000
mean          0.214451     90.481781   187.829276              2.487768
std           0.639108    111.859890   130.891865             18.207768
min           0.000000      1.000000     6.000000              0.000000
25%           0.000000      9.000000    62.000000              0.000000
50%           0.000000     14.000000   179.000000              0.000000
75%           0.000000    240.000000   269.000000              0.000000
max          21.000000    535.000000   543.000000            391.000000

                 adr  required_car_parking_spaces  total_of_special_requests
count  111303.000000                111303.000000              111303.000000
mean       99.622763                     0.065182                   0.549886
std        50.397448                     0.250139                   0.782717
min        -6.380000                     0.000000                   0.000000
25%        67.000000                     0.000000                   0.000000
50%        90.950000                     0.000000                   0.000000
75%       122.000000                     0.000000                   1.000000
max      5400.000000                     8.000000                   5.000000

In [6]:
# Summary stats for categorical columns
print("\n--- Describe (Categorical) ---")
print(df.describe(include='object'))

--- Describe (Categorical) ---
             hotel arrival_date_month    meal country market_segment  \
count       111304             111304  111304  110816         111304
unique           2                 12       5     171              9
top     City Hotel             August      BB     PRT      Online TA
freq         71244              11908   86705   47628          51437

       distribution_channel reserved_room_type assigned_room_type  \
count                111303             111303             111303
unique                    5                 10                 12
top                   TA/TO                  A                  A
freq                  91114              80344              68696

       deposit_type customer_type reservation_status reservation_status_date
count        111303        111303             111303                  111303
unique            3             4                  3                     926
top      No Deposit     Transient          Check-Out              2015-10-21
freq          96554         83221              67083                    1461

In [7]:
# Null values in each column
print("\n--- Null Values per Column ---")
print(df.isnull().sum())

--- Null Values per Column ---
hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   1
is_repeated_guest                      1
previous_cancellations                 1
previous_bookings_not_canceled         1
reserved_room_type                     1
assigned_room_type                     1
booking_changes                        1
deposit_type                           1
agent                              15825
company                           104732
days_in_waiting_list                   1
customer_type                          1
adr                                    1
required_car_parking_spaces            1
total_of_special_requests              1
reservation_status                     1
reservation_status_date                1
dtype: int64

In [8]:
#Missing Data
df['agent'] = df['agent'].fillna(0)
df['company'] = df['company'].fillna(0)

In [9]:
before = df.shape[0]

df = df[~((df['adults'] == 0) &
          (df['children'].fillna(0) == 0) &
          (df['babies'] == 0))]

after = df.shape[0]
print(f"Removed {before - after} rows with 0 guests.")

Removed 164 rows with 0 guests.

In [10]:
before = df.shape[0]

df = df[df['adr'] > 0]

after = df.shape[0]
print(f"Removed {before - after} rows with ADR <= 0.")

Removed 1752 rows with ADR <= 0.

In [12]:
# fill null children with 0
df['children'] = df['children'].fillna(0)

# fill null country with 'Unknown'
df['country'] = df['country'].fillna("Unknown")

In [13]:
print("\n--- Null Values after Cleaning ---")
print(df.isnull().sum())

--- Null Values after Cleaning ---
hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [14]:
output_path = "hotel_bookings_cleaned_python.csv"
df.to_csv(output_path, index=False)
print("Cleaned file saved to:", output_path)

Cleaned file saved to: hotel_bookings_cleaned_python.csv